<fieldset style="padding: 20px;">
    <legend> Empresas </legend>
    Buscar: <input placeholder="Nombre, descripción..." [(ngModel)]="buscador" />
    <ul>
        <li *ngFor="#empresa of listaEmpresas | orderBy : 'nombre' | filtrar:buscador" (click)="onSelect(empresa)">
            <strong>{{empresa.nombre}}</strong>
            <div>{{empresa.descripcion | acortarTexto:30}}</div>
            <br />
        </li>
    </ul>

    <label *ngIf="listaEmpresas.length==0">-Sin empresas-</label>
</fieldset>




