<fieldset style="padding: 20px;">
    <legend> Alumnos </legend>
    Buscar: <input placeholder="Nombre, apellido..." [(ngModel)]="buscador" />
    <ul>
        <li *ngFor="#alumno of listaAlumnos | orderBy : '-puntuacion'  : '+apellidos' | filtrar:buscador" (click)="onSelect(alumno)">
            <strong>{{alumno.apellidos}}, {{alumno.nombre}}</strong>
            <br />
            <i>Puntuación: {{alumno.puntuacion}}</i>
            <br /><br />
        </li>
    </ul>

    <label *ngIf="listaAlumnos.length==0">-Sin alumnos-</label>
</fieldset>
