

<div *ngIf="!sinProcesos">
    <div *ngIf="!finalizado && noTuTurno=='siEs'">
        <br /><br />
        <h1>PROCESO DE SELECCIÓN</h1>
        <br /><br />
        <h2>
            Alumno <b>{{alumno.nombre}} {{alumno.apellidos}}</b>, con una puntuación de <i style="color: green">{{alumno.puntuacion}}</i>, seleccione una empresa para prácticas
        </h2>
        <br /><br />
        <lista-empresas style="float: left" [listaEmpresas]="listaEmpresas" (listaEmpresasEvt)="manejarEventos($event)"></lista-empresas>
        <detalle-empresa style="float: left" [empresa]="empresa" (detalleEmpresaEvt)="manejarEventos($event)"></detalle-empresa>
    </div>
    <div [ngSwitch]="noTuTurno">
        <h1 *ngSwitchWhen="'YaHaSeleccionado'">
            Gracias por seleccionar empresa 
        </h1>
        <h1 *ngSwitchWhen="'NoHaSeleccionado'">
            Aun no es tu turno, espera a que seleccionen los alumos que te preceden
        </h1>

    </div>
    <div *ngIf="finalizado">
        <!--<resumen-proceso [listaAlumnosFinal]="listaAlumnosFinal" [listaAlumnosRestantes]="listaAlumnosAux" [listaEmpresas]="listaEmpresas" (resumenProcesoEvt)="manejarEventos($event)"></resumen-proceso>-->
    </div>
</div>
<div *ngIf="sinProcesos">
    <h1>Lo sentimos, actualmente no hay ningún proceso de selección iniciado</h1>
</div>